:root {
    --curious-blue: #1992D4;
    --dark-gray: rgb(58, 58, 58);
}

body {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(5, 1fr);
    font-family: 'Roboto', sans-serif; 
    background-color: green;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
}

.sidebar {
    display: grid;
    grid-template: auto 1fr;
    grid-row: 1 / max-content;
    background-color: var(--curious-blue);
    color: white;
    font-weight: bold;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

}

.navigation > * {
    height: 350px;
}


.sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul {
    padding-left: 10px;
}

img[src^="./icons"]{
    height: 30px;
}

.dashboard img {
    height: 50px;
}

.main {
    display: grid;
    background-color: red;
    grid-template-rows: auto 1fr;
    grid-column: 2 / max-content;
    grid-row: 1 / max-content;
}

.header {
    display: grid;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    background-color: white;
}

.adjacent-items {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 1rem;
    align-items: center;
}

.search {
    padding: 0;
    display: grid;
    grid-row: 1;
    grid-template-columns: max-content 1fr;
    grid-column: span 4;
    align-self: center;
}

.search input {
    border-radius: 10px;
    height: 25px;
    padding: 0;
    border: none;
    background-color: pink;
}

.welcome {
    grid-row: 2;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column: span 3;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buttons {
    grid-row: 2;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-column: span 3;
    gap: 2rem;
    justify-self: end;
    margin-right: 20px;
}

.buttons > button {
    height: 35px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--curious-blue);
    font-weight: bold;
}

.profile-picture {
    height: 75px;
    border-radius: 50px;
}

.profile {
    grid-row: 1;
    display: grid;
    grid-template-columns: 40px 40px max-content;
    grid-column: 5 / span 2;
    justify-self: end;
    margin-right: 30px;
}

.profile > .profile-picture {
    height: 45px;
}

.header h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
}

.main-content {
    grid-row: 2 / max-content;
    padding: 1rem 0.5rem 1rem 1em;
    background-color: pink;
    color: var(--dark-gray);
}

.cards {
    display: inline-grid;
    grid-template: repeat(6, 1fr) / repeat(3, minmax(200px, max-content));
    background-color: yellow;
}

.card {
    background-color: white;
    height: 110px;
    width: 100px;
}
