
form {
    display: flex;
    flex-direction: column;
}

form > * {
    width: 200px;
}

p {
    display: block;
}

input {
    appearance: none;
    
    width: 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    box-sizing: border-box;
}

input:valid {
    border: 2px solid black;
}

input:invalid {
    background-color: rgb(255, 107, 107);
}

.error {
    display: inline-block;
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em
}